.banner p {
    max-width: 163px;
    color: #F2F2F2;
    font-size: 26px;
    padding: 168px 0;
    text-align-last: justify;
    margin: 0 auto;
    font-weight: bold;text-shadow: 0rem .4rem .4rem rgba(0, 0, 0, .25);
}

.banner div {
    content: "";
    width: 100vw;
    height: 100vh;
    max-height: 368px;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
}
.banner{
    width: 100vw;
    height: 100vh;
    max-height: 368px;
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(217, 202, 156, .5);
    position: relative;
}
.banner01 {
    background-image: url("/image/food_food01_banner.jpg");
}

.banner02 {
    background-image: url("/image/food_food02_banner.jpg");
}
.banner03 {
    background-image: url("/image/food_food03_banner.jpg");
}
.banner04 {
    background-image: url("/image/food_food04.jpg");
}
.banner05 {
    background-image: url("/image/food_food05_banner.jpg");
}
.banner06 {
    background-image: url("/image/food_food06_banner.jpg");
    background-position: bottom;
}
.banner07 {
    background-image: url("/image/food_food07_banner.jpg");
}
.banner08 {
    background-image: url("/image/food_food08_banner.jpg");
    /* background-position: bottom; */
}
.banner09 {
    background-image: url("/image/food_food09_banner.jpg");
}
.banner10 {
    background-image: url("/image/food_food10.jpg");
}
.banner11 {
    background-image: url("/image/food_food11_banner.jpg");
}
.banner_d01{
    background-image: url("/image/food_dessert01_banner.jpg");
}
.banner_d02{
    background-image: url("/image/food_dessert02_banner.jpg");
}
.banner_d03{
    background-image: url("/image/food_dessert03.jpg");
}
.banner_d04{
    background-image: url("/image/food_dessert04_banner.jpg");
}
.banner_d05{
    background-image: url("/image/food_dessert05_banner.jpg");
}
.banner_d06{
    background-image: url("/image/food_dessert06.jpg");
}
.banner_g01{
    background-image: url("/image/food_gift01_banner.jpg");
}
.banner_g02{
    background-image: url("/image/food_gift02_banner.jpg");
}